body {
	margin: 0;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: lightgray;
  z-index: 3;
  border-right: 1px solid #9a9a9a;
  @media screen and (max-width: 990px) {
    width: 60px;
  }
}

.icons {
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: inline-block;
  border: 8px solid transparent;
  border-radius: 50%;
  background-color: grey;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  @media screen and (max-width: 990px) {
    width: 48px;
	height: 48px;
	border: 6px solid transparent;
  }
}

.icons.home {
  background-image: url('/static/images/home.png');
}
.icons.back {
  background-image: url('/static/images/back.png');
}
.icons.rating {
  background-image: url('/static/images/stars.png');
}
.icons.profile {
  background-image: url('/static/images/agents.png');
}
.icons.phone {
  background-image: url('/static/images/notebook.png');
}
.icons.log {
  background-image: url('/static/images/notepad.png');
}
.icons.time {
  background-image: url('/static/images/time.png');
}
.icons.time .timeLabel{
    text-align: center;
    margin-top: 16px;
    margin-left: 16px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 50%;
    width: 50%;
}
.icons.chat {
  background-image: url('/static/images/chat.png')
}
.icons.profile {
  background-image: url('/static/images/profile.png')
}

.icons:hover {
  border-radius: 0%;
}

.timeActionDiv {
  background-image: url('/static/images/time.png');
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  border: 8px solid transparent;
  border-radius: 50%;
  background-color: yellowgreen;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}
.timeActionDiv:hover {
  background-color: green;
}