.dialog {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 300px;
    max-height: 90%;
    padding-right: 10px;
    padding-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    .image {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-right: 8px;
      z-index: 2;
    }
    .button {
      width: 100%;
      background-color: aliceblue;
      border-color: lightblue;
      border-radius: 12px;
    }
    .item {
	  width: 300px;
      background-color: aliceblue;
      border-radius: 12px;
      border: 1px solid;
      border-color: lightblue;
      padding: 5px;
      display: inline-flex;
      margin-bottom: 4px;
    }
  }