.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 600px;
  z-index: 1;
  background-color: lightgrey;
  border-right: 2px solid #9a9a9a;
  @media screen and (max-width: 990px) {
    width: 100%;
    border-right: none;
  }
  padding-left: 90px;
  .body {
	padding-right: 10px;
	@media screen and (max-width: 990px) {
	  padding-left: 70px;
	}
  }
  h3 {
    text-align: center;
    padding-left: 90px;
  }
  table {
    width: 100%;
    border-spacing: 0px;
  }
  tr:hover {
    background-color: grey;
  }
  .td_first {
    border-radius: 10px 0 0 10px;
  }
  .td_last {
    border-radius: 0 10px 10px 0;
    width: 10%;
    cursor: pointer;
  }
  td {
    width: 25%;
    text-align: center;
  }
  .image {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
	background-color: yellowgreen;
  }
  .image:hover {
    background-color: green;
  }
  .logitem {
    width: 100%;
    background-color: aliceblue;
    border-radius: 12px;
    border: 1px solid lightblue;
    display: inline-flex;
    margin-top: 10px;
  }
  .logtext {
    width: 320px;
    @media screen and (max-width: 990px) {
      width: 80%;
    }
  }
  .tabs {
    list-style: none;
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
    }
    .active {
      background-color: lightskyblue;
    }
  }
}
.modal.toplvl-modal {
	z-index: 2;
}